/*CSS reset settings here*/
#wrapper {
    height: 475px;
    width: 1000px;
    padding: 30px;
    background-color: silver;
    margin: 0px auto;
}

#header {
    height: 50px;
    background-color: green;
}

#mainstuff {
    margin-top: 10px;
    height: 500px;
}

#navigation,
#main_content,
.subcontents {
    display: inline-block;
}

#navigation,
.subcontents {
    height: 200px;
}

#navigation {
    width: 100px;
    vertical-align: top;
    background-color: blue;
}

#main_content {
    margin-left: 20px;
    width: 875px;
    height: 400px;
    background-color: red;
}

.subcontents,
#advertisement {
    margin: 10px;
}

.subcontents {
    width: 250px;
    background-color: yellow;
}

#advertisement {
    width: 800px;
    height: 100px;
    background-color: purple;
}